<div class="container-sm mt-5">
  <%= simple_form_for(@movie) do |f| %>
  <div class="text-primary">
    <%= f.input :title %>
    <%= f.input :rating %>
    <%= f.input :overview %>
    <%= f.input :poster_url %>
  </div>

  <div class="btn btn-primary">
  <%= f.submit %>
  </div>
  <% end %>
</div>
